@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root{
    --primary-color:#ff226f;
    --primary-color-dark:#fe6769;
    --text-dark:#333333;
    --white:#ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url(images/bg.jfif);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}
.container_left h1{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primary-color);
}
.container_left p{
    color:var(--text-dark);
    margin-bottom: 1rem;
}
.container_left button{
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline:none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-dark));
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}
.container_right{
    display: grid;
    gap: 2rem;
}
.card{
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card img{
    max-width: 75px;
    border-radius: 100%;
}

.card_content{
    display: flex;
    gap: 1rem;
}

.card_content span{
    font-size: 2rem;
    color: var(--primary-color);
}

.card_details p{
    font-style: italic;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.card_details h4{
    text-align: right;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
}


@media(width < 1200px){
    .container{
        gap: 3rem;
    }
}
@media(width < 900px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .container_right{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width < 750px){
    .container_right{
        grid-template-columns: repeat(1, 1fr);
    }
}